<launch>
  <!-- nodes that work with alexa to take orders and deliver items-->
  <node pkg="cr_ros_3" type="voice_delivery.py" name="voice_delivery" output="screen"></node>
  <node pkg="cr_ros_3" type="voice_move_base.py" name="voice_move_base" output="screen"></node>
  <node pkg="cr_ros_3" type="voice_destination_pub.py" name="voice_destination_pub" output="screen"></node>
</launch>